*{
    margin: 0;
    padding: 0;
}

.header-top{
    height: 55px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
}

.header-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 1450px;
}

.header-top-left{
    display: flex;
    gap: 10px;
}

.contact{
    margin-left: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top-right{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top-middle{
    font-family: Arial, Helvetica, sans-serif;
}

#english{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #343A40;
}

.header-bottom{
    height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 1450px;
}

.header-bottom-left,.header-bottom-right{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center ;
}

.input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #343a40;
    margin-right: 35px;
    height: 40px;
}

input{
    padding: 5px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    padding-left: 10px;
}


::placeholder {
    font-weight: 500;
    font-size: 15px;    
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
    line-height: 1.6;
    font-size: 16px;
    letter-spacing: .3em;
    font-weight: 300
}

.start-shopping{
    padding: 10px;
    margin-top: 20px;
    color: #bcac76;
    border: 1px solid #bcac76;
    width: 200px;
    background-color: white;
    font-weight: bold;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    width: 540px;
}

.slide-container-left{
    padding-left: 200px;
}

.text1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #868e96;
    font-weight: 700;
    margin-bottom: 0.25rem;
    letter-spacing: 0.15em;
}

.title1,.name1,.name2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-size: 1.85rem;
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    width: 730px;
    color: #868e96;
    font-size: 1.25rem;
    font-weight: 300;
}

main{
    height: 2374px;
}

.top-choices-container{
    width: 1140px;
    display: flex;
    flex-direction: column;
}

.top-choices{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 70px;
}

.product1,.product3,.slide{
    display: flex;
    justify-content: center;
}

.product3{
    margin-bottom: 100px;
}


.product1-container,.product3-container,.slide-container{
    display: flex;
    flex-direction: row;
    width: 1140px;
}

.slide-container{
    align-items: center;
}

.price1,.price2{
    color: #868e96;
    font-family: Arial, Helvetica, sans-serif;
}

.shop-now1,.shop-now2{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 17px 0;
    line-height: 1.6;
    letter-spacing: 0.3rem;
}

.shop-now1,.price1,.name1{
    margin-left: 25px;
}

.product1-left,.product3-left,.slide-container-left{
    padding: 16px 15px 0;
}


.product1-right,.product3-right,.slide-container-right{
    display: flex;
}

.slide-container-right{ 
    margin-left: 130px;
}

.product1-right-left,.product3-right-left{
    margin-top: 120px;
    position: relative;
    left: 100px
}

.product2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.product2-container{
    width: 1140px;
    display: flex;
}

.product2-left-left{
    margin-top: 120px;
    position: relative;
    left: 15px;
}

.product2-left{
    display: flex;
}

.product2-right{
    margin: 90px 0 48px 95px;
}

.sale{
    height: 500px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}


.sale-container{
    display: flex;
    flex-direction: row;
    width: 1140px;
}

.sale-left{
    display: flex;
    flex-direction: column;
    width: 540px;
    justify-content: center;
    gap: 14px;
}

.sale-right{
    width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-text{
    color: #dc3545;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.prices{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 20px;
    color: #868e96;
}

.sale-button{
    background-color: #dc3545;
    border: none;
    width: 72px;
    height: 44px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.shop-now{
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
}

.time{
    width: 540px;
    height: 112px;
    background-color: white;
}

.new-arrivals-container{
    width: 1140px;
    display: flex;
    flex-direction: column;
}

.new-arrivals{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}

.product-filter-line{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 55px;
}

.product-filter-line-container{
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-filter-left{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #868e96;
}

.product-filter-right{
    font-family: Arial, Helvetica, sans-serif;
    color: #bcac76;
    font-size: 18px;
}

.products{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products-container{
    width: 1140px;
    display: grid;
    grid-template-columns: 262px 262px 262px 262px;
    grid-template-rows: 442px 442px;
    grid-gap: 30px;
}

.name3{
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
    text-decoration: none;
    font-size: .875rem;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summer-sales{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.summer-sales-container{
    width: 1140px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAE0BD;
}

.name4{
    font-size: 4.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin-bottom: 1rem;

}

.paragraph1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
}

.start-shopping1{
    background-color: transparent;
    padding: 10px;
    color: #343a40;
    border: 1px solid #343a40;
    width: 200px;
    font-weight: bold;
}

.advantages{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 280px;
    background-color: #f8f9fa;
    margin-top: 50px;
}

.advantages-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.advantage-items{
    display: flex;
}

.advantages{
    display: flex;
    justify-content: center;
}

.advantage-items-left{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.paragraph2{
    font-family: Arial, Helvetica, sans-serif;
    color: #868e96;
    font-size: 14px;
}           


.gmail-input{
    border-bottom: 1px solid #343a40;
    width:fit-content ;
}

.footer{
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 170px;
}

.footer-gmail{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-list{
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer-list ul li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #868e96;
    font-size: 1rem;   
    font-weight: 500;     
    width: fit-content;
}

.footer-list ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-list h6{
    margin-bottom: 13px;
    font-size: 16px;
}

.footer-last-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin-bottom: 20px;
}

.footer-last{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#868e96 ;
}

.footer-last-container ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 18px;
}

.grow-effect:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.grow-effect,.button-black-effect,.button-light-effect,.add-cart-top,.add-cart-bottom{
    transition: 0.30s ease;
}

.button-black-effect:hover{
    background-color: black;
    color: white;
}

.button-light-effect:hover{
    background-color: #bcac76;
    color: black;
}

.item-img-effect{
    position: absolute;
    opacity: 0;
    transition: 0.40s;
}

.items:hover .item-img-effect{
    opacity: 1;
}

.items:hover .add-cart-top{
    height: 50px;
}

.items:hover .add-cart-bottom{
    height: 50px;
}


.add-cart-top,.add-cart-bottom{
    display: flex;
    gap: 120px;
    align-items: center;
    background-color: rgba(255,255,255,0.92);
    width: fit-content;
    position: absolute;
    bottom:-3476px;
    width: 255px;
    overflow: hidden;
    height: 0;   
}

.add-cart-bottom{
    bottom:-3949px;
}

.logos{
    display: flex;
    gap:10px;
}


.footer-list ul li{
    position: relative;
}

.footer-list ul li::after{
    content: '';
    position: absolute;
    left:0;
    bottom:-3px;
    width: 100%;
    height: 3px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.footer-list ul li:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


#languages{
    position:absolute;
    top:55px;
    right: 120px;
    width: 160px;
    height: 86px;
    background-color: white;
    box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#languages a{
    text-decoration: none;
    margin-right:70px;
    color: #343a40;
    line-height: 1.6;
    padding: 6.4px 24px;
}

#english-arrow,#usd-arrow,#home-arrow,#docs-arrow,#shop-arrow{
    transition: 0.40s;
}

#money{
    position:absolute;
    top:55px;
    right: 55px;
    width: 160px;
    height: 86px;
    background-color: white;
    box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#money a{
    text-decoration: none;
    margin-right:70px;
    color: #343a40;
    line-height: 1.6;
    padding: 6.4px 24px;
}

#home-list,#docs-list{
    position: absolute;
    top:130px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    width: 200px;
    height: 160px;
    background-color: white;
    box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    display: none;
}

#home-list a,#docs-list a{
    padding-left: 20px;
    text-decoration: none;
    color: #868e96;
    display: flex;
}

#home-list a:hover,#docs-list a:hover{
    color: black;
}

.new-icon{  
    font-size: 10px;
    color: #bcac76;
    background-color: #f7f5ef;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 4px;
}

#docs-list{
    top: 130px;
    left: 440px;
    width: 170px;
    height: 300px;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    height: 100%;
    top:0px;
    display: none;
}


#shop-list{
    position: absolute;
    display: flex;
    top: 130px;
    left: 140px;
    width: 780px;
    height: 376px;
    background-color: white;
    box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px -6px 45px 5px rgba(0,0,0,0.11);
    justify-content: space-between;
    display: none;
}

.shop-pages-list li,.product-pages-list li{
    list-style: none;
    color: #868e96;
}

.shop-pages-list li:hover ,.product-pages-list li:hover{
    color: black;
}

.shop-pages-list h6,.product-pages-list h6{
    font-size: 15px;
}

.shop-pages-list ,.product-pages-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    margin-top: 45px;
    margin-left: 25px;
}